# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# .bat files
*.bat

# vs Code setting
.vscode/

# output
output/

# Test code
test*

# archive files/folders
*archive*

# ignore all logs
*.log
log/
logs/
logs(debug)/

# ignore csv
*.csv

# compile files
*.pyc
__pycache__/

# Models
models/*
h5f.pyx
